  body { background-color:#FFCC66;}
div { border:0px solid #888; }
#inf { position:absolute; width:29%; height:19%; left:30%; top:20%; }
#uhr { position:absolute; width:29%; height:20%; left:30%; top:0px; text-align:center; font-size:200%; }
#pro { position:absolute; width:40%; height:39%; right:0px; top:0px; }
#pwe { position:absolute; width:80%; height:100%; right:0%; }
#pdi { position:absolute; right:82%; top:10px }
#fah { position:absolute; width:20%; height:40%; left:35px; top:0%; }
#fahdia { position:absolute; left:35px; top:30%;}
#sto { position:absolute; width:79%; height:60%; right:0px; bottom:0px; text-align:center;}
#vs1 { position:absolute; top:20%; height:20%; width:20%; left:0%;}
#vs2 { position:absolute; top:20%; height:20%; width:20%; left:20%;}
#vs3 { position:absolute; top:20%; height:20%; width:20%; left:40%;}
#vs4 { position:absolute; top:20%; height:20%; width:20%; left:60%;}
#vs5 { position:absolute; top:20%; height:20%; width:20%; left:80%;}
#vs1dia {position:absolute; bottom:0%; left:6%;}
#vs2dia {position:absolute; bottom:0%; left:26%;}
#vs3dia {position:absolute; bottom:0%; left:46%;}
#vs4dia {position:absolute; bottom:0%; left:66%;}
#vs5dia {position:absolute; bottom:0%; left:86%;}
.box { text-align:center; font-size:220%; }
.bez { font-size:200%; }
.wert { font-size:400%; text-align:right;}